
#tbl-members{
    th:first-child,
    tbody td:first-child{
        min-width: 110px;
        max-width: 170px;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
    }
    th:nth-child(2),
    tbody td:nth-child(2){
        width: 250px;
    }
    th:last-child,
    tbody td:last-child{
        width: 150px;
        text-align: center;
    }

    &.empty tfoot{
        display: table-footer-group;
    }
    tfoot{
        display: none;
    }
    tbody tr:focus{
      background-color: rgb(207, 207, 207);
    }
}



#loader{
  display: flex;
  justify-content: center;

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    border-radius: 5px;
    background: #136cf0;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 16px;
    }
    50%, 100% {
      top: 24px;
      height: 10px;
    }
  }
  
      
}

// #toast{
//   background-color: rgb(202, 34, 34) !important;
// }
#frm-member-detail {
  .btn {
    ion-icon {
      font-size: 1.3em;
      vertical-align: sub;
      color: rgb(44, 19, 19);
    }
  }

  &.new{
    #btn-edit, #edit-buttons-wrapper{
      display: none;
    }

    #btn-save{
      display: inline !important;
    }

    .modal-body form > div:first-child {
      display: none;
    }
  }

  &.edit{
    #btn-edit, #btn-save{
       display: none;
    }

    #edit-buttons-wrapper{
      display: block !important;

      ion-icon {
        padding-right: 5px;
      }
    }
  }

}

#overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(56,  56, 56,0.8);
  z-index: 99999;

  h2{
    color: white;
  }

  #overlay-loader{
    .lds-spinner {
      color: official;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
      transform: scale(2);
    }
    .lds-spinner div {
      transform-origin: 40px 40px;
      animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: #fff;
    }
    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
  border-top: 1px solid lightgray;
  font-size: 0.9rem;
  background-color: rgba(180, 180, 180);
  color: rgb(25, 25, 25);

  @media all and (max-width: 1200px){
      margin-top: 10px;
      position: relative;
  }
}

header{
  // background-color: gray;
  a{
    display: inline-block;
    
    img{
      // background-color: #0d6efd;
      width: 100px;
      height: 100px;
      // border: 2px solid #ccb894;
      border-radius: 10px;
    }
  }

  h3{
    // background-color: aquamarine;

    ion-icon{
      font-size: 3rem;
      color: #213644;
    }
  }
  
  #sm-icons{
    // background-color: red;

    ion-icon{
      &:hover{

        background-color: #c6ab7c;
        margin-right: 10px;
      }

      font-size: 2rem;
      margin-right:5px ;
      border-radius: 2px;
      color: #213644;


    }
  }
}